
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1491559411960'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1491559411960#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1491559411960') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1491559411960') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1491559411960#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:1rem;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima2:before { content: "\e758"; }

.icon-mima:before { content: "\e78d";}

.icon-yonghuming:before { content: "\e66b"; }

.icon-liushui:before { content: "\e607"; }

.icon-charts:before { content: "\e662"; }

.icon-jiahao:before { content: "\e615"; }
